.loadding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paginateSection {
    width: clamp(25%, 30%, 40%);
    margin: 0 auto;
}

.paginate {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
}

.paginate a {
    font-size: clamp(18px, 20px, 22px);
    font-weight: 500;
    line-height: 1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1B1B1B !important;
    padding: 5px 10px;
    background-color: #F7CA18;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}

.paginate a:active,
.paginate a:focus-visible {
    background-color: #C76637 !important;
}

.active {
    box-shadow: 2px 2px 2px 2px white, 4px 4px 2px 2px #C76637;
}

.allFilms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.allFilmsItem {
    width: clamp(300px, 380px, 390px);
    height: clamp(220px, 230px, 250px);
    margin: 0 10px 20px 0;
    background-color: #1B1B1B;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

h5 {
    font-family: 'Rubik Bubbles', cursive;
    color: #fff;
    text-align: start;
    padding: 10px 5px;
}

.allFilmsItem:hover {
    transform: scale(1.01);
    border: 3px solid #FFC107;
    box-shadow: 2px 2px 2px 2px white, 4px 4px 2px 2px
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: -65px;
    visibility: hidden;
}

.infoRating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #44c95a;
}

.allFilmsItem:hover .info {
    visibility: visible;
}

.infoBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
}

.infoBody div:not(:last-child) {
    margin-right: 8px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

h4 {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 16px !important;
    color: #FFC107;
}

.topFilms {
    position: relative;
    padding: 50px, 0;
    margin-bottom: clamp(30px, 50px, 55px);
}

.topFilmsScrol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: clamp(350px, 400px, 450px);
    background-color: #1B1B1B;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

h1 {
    font-family: 'Rubik Bubbles', cursive;
    text-align: start;
    color: #fff;
    padding: 10px 5px;
}

.img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 0.5s ease 0s;
}

.img:hover {
    box-shadow: 2px 2px 2px 2px white, 2px 2px 8px 8px
}

@media (max-width: 996px) {
    .allFilmsItem {
        width: clamp(280px, 300px, 320px);
        height: clamp(180px, 200px, 220px);
    }
}

@media (max-width: 780px) {
    .allFilmsItem {
        width: clamp(200px, 230px, 250px);
        height: clamp(110px, 140px, 160px);
    }

    .paginateSection {
        width: 200px
    }
}

@media (max-width: 600px) {
    .allFilmsItem {
        width: clamp(200px, 400px, 250px);
        height: clamp(110px, 240px, 250px);
    }

    .paginateSection {
        width: 200px
    }
}