body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

.navbar {
  min-height: 80px !important;
}

.nav-link:hover {
  color: #fff !important;
}

.btn-close {
  background-color: #fff !important;
  transform: scale(1.1) !important;
  color: #F7CA18 !important;
  transition: all 0.3s ease 0s !important;
}

/* //ushadir */
.dropdown-item {
  color: #fff !important;
}

.active {
  color: #fff !important;
}

.nav-link {
  color: #6C757D !important;
}

.dropdown-menu :hover {
  background-color: #5a5858 !important;
}

@media (max-width: 990px) {
  .btn-close {
    transform: scale(1.1) !important;
  }
}

/* Navbar settings */
.show {
  color: #fff;
  background-color: #1B1B1B !important;
}

/* Modal For LogIn */

.react-responsive-modal-modal {
  width: 50%;
  padding: 5px !important;
}

.react-responsive-modal-closeButton {
  background-color: #fff !important;
}

@media (max-width: 767px) {
  .react-responsive-modal-modal {
    width: 60%;
    padding: 5px !important;
  }
}

@media (max-width: 500px) {
  .react-responsive-modal-modal {
    width: 90%;
  }
}

/* Add film form */

.css-13cymwt-control,
.css-t3ipsp-control {
  text-align: start;
  color: #fff !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.css-13cymwt-control::placeholder,
.css-t3ipsp-control::placeholder {
  color: #fff !important
}

.css-1nmdiq5-menu {
  text-align: start;
  background-color: #313030 !important;
}